/** {box-sizing: border-box};*/

.Create-acc-container {
    margin: auto;
    width: 30%;
    border: 3px solid black;
}

.Create-acc-container button{
    margin: 15px auto;
    width: 30%;
    display: block;
    border-radius: 10px;
}