* {box-sizing: border-box;}
.Nav {
    display: flex;
    align-items: center;
    height: 5vh;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}


.Nav-Logo{
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-family: 'Hanalei', cursive;
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    color: orange;
}

.dropdown-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height:100%;
    margin: 0 10px;
    
}

.dropdown-arrow  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-end;
    position: relative;
    top: 110px;
    height: 200px;
    width: 150px;
    margin-bottom: 5px;
}

.dropdown-content {
    display: none;
    width: 100%;
    background-color: white;
}

.dropdown-arrow:hover .dropdown-content {
    display: block;
}

.dropdown-profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100%;
}

.profile-pic {
    width: 35px;
    height: 80%;
    border-radius: 10%;
}



